# blocklists
BLOCKLIST_URL="URL-HERE"
RAW_FILE_PATH="PATH-HERE"
FORMATTED_FILE_PATH="PATH-HERE"

# OpenCTI credentials
OPENCTI_URL="URL-HERE"
OPENCTI_TOKEN="YOUR-TOKEN-HERE"


PROCESSED_IP_FILE_PATH="PATH-HERE"
